<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.iou.socialshare.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_TYPE}" />
        <!-- 微信 -->
        <meta-data
            android:name="WEIXIN_ID"
            android:value="${WEIXIN_ID}" />
        <meta-data
            android:name="WEIXIN_SECRET"
            android:value="${WEIXIN_SECRET}" />

        <!-- QQ -->
        <meta-data
            android:name="TENCENT_QQ_ID"
            android:value="${TENCENT_QQ_ID}" />

        <meta-data
            android:name="TENCENT_QQ_SECRET"
            android:value="${TENCENT_QQ_SECRET}" />

        <!-- 微博 -->
        <meta-data
            android:name="WEIBO_ID"
            android:value="${WEIBO_ID}" />

        <meta-data
            android:name="WEIBO_SECRET"
            android:value="${WEIBO_SECRET}" />

        <meta-data android:name="WEIBO_CALLBACK_URL"
            android:value="${WEIBO_CALLBACK_URL}" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>